BOT_TOKEN=123456789:AABBCCDDEEFFaabbccddeeff
ADMINS=123456789,987654321
OPENAI_API_KEY=sk-...

DRF_URL=https://ittatuz.uz
BOT_SECRET=speaking-bot-secret-key-2024

WEBAPP_URL=https://ittatuz.uz/webapp
BOT_USERNAME=speaking_engbot
OWNER_USERNAME=@your_username

CHANNEL_ID=@your_channel
CHANNEL_LINK=https://t.me/your_channel
PAYMENT_CHANNEL=-100123456789

FREE_MOCK_LIMIT=2
